<!-- Main container -->
<main class="main-content">
  <!-- <ngb-alert *ngIf="successMessage" type="warning" style="text-right" (close)="successMessage = null">{{ successMessage }}</ngb-alert> -->
  <section class="section bg-lgrey my-30 py-30 px-30"  id="cards">


    <div class="row">

      <div class="col-3">
        <div class="bg-white">
          <div style="padding-top:20px"></div>
          <div class="row">
            <div class="col">
              <!-- <button type="button" name="button" (click)="wallet()">WALLET</button>
              <button type="button" style="background-color:#FFF; border-color:#FFF" name="button" (click)="wallet()">STAKES</button> -->

              <h5 style="font-weight:bold"><span (click)="walletSelect()"
              [ngStyle]="{'color':wallet ? '#33ccff' : '#323c47' }" class="mx-2 fw-300" style="font-weight:bold"
              >WALLET</span>
              <span (click)="walletSelect()"
              [ngStyle]="{'color':wallet ? '#323c47' : '#33ccff' }" class="mx-2 fw-300" style="font-weight:bold"
              >STAKES</span></h5>

              <!-- <span><h6 class="text-left px-10 py-0 my-0">  </h6>WALLET</span>
              <span><h6 class="text-left px-10 py-0 my-0"> </h6> STAKES</span> -->
              <hr class="py-0 my-0">
            </div>
          </div>

          <div class="" [hidden]="!wallet">

            <div [hidden]="!walletBool">
              <p class="text-left px-10 py-10 my-10">SELECT {{tokenArray[3]}}</p>

              <div class="row mx-0 py-0"
              [ngStyle]="{'background-color':asset === 'ATOM' ? '#E7F9FF' : '#FFFFFF' }"
               (click)="selectAtm()">
                <div class="col-3">
                  <img class="logo-default" src="assets/img/{{tokenArray[0].asset}}.svg"  width="auto" height="80px" alt="logo">
                </div>
                <div class="col-4 my-0 px-0">
                  <div class="row my-0 px-0">
                    <div class="col" style="padding-top:15px">
                      <h6 class="my-0" style="font-weight:bold">{{tokenArray[0].name}}</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span>{{tokenArray[0].asset}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-5 px-0" style="padding-top:5px">
                  <p class="fw-300 text-left my-0 py-0" style="font-size:2.25rem">{{tokenArray[0].bal | number : '1.1-2'}}</p>
                  <p class="text-muted my-0 py-0">$USD {{ (tokenArray[0].bal*priceArray[0] * dollarArray[0]) | number : '1.1-2'}}</p>
                </div>
              </div>

              <div class="row mx-0 py-0" [ngStyle]="{'background-color':asset === 'BTC' ? '#E7F9FF' : '#FFFFFF' }"
               (click)="selectBtc()">
                <div class="col-3">
                  <img class="logo-default" src="assets/img/{{tokenArray[1].asset}}.svg"  width="auto" height="80px" alt="logo">
                </div>
                <div class="col-4 my-0 px-0">
                  <div class="row my-0">
                    <div class="col" style="padding-top:15px">
                      <h6 class="my-0" style="font-weight:bold">{{tokenArray[1].name}}</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span>{{tokenArray[1].asset}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-5 px-0" style="padding-top:5px">
                  <p class="fw-300 text-left my-0 py-0" style="font-size:2.25rem">{{tokenArray[1].bal | number : '1.1-2'}}</p>
                  <p class="text-muted my-0 py-0">$USD {{ (tokenArray[1].bal * priceArray[1] * dollarArray[0]) | number : '1.1-2'}}</p>
                </div>
              </div>
              <div class="row mx-0 py-0" [ngStyle]="{'background-color':asset === 'ETH' ? '#E7F9FF' : '#FFFFFF' }"
               (click)="selectEth()">
                <div class="col-3">
                  <img class="logo-default" src="assets/img/{{tokenArray[2].asset}}.svg"  width="auto" height="80px" alt="logo">
                </div>
                <div class="col-4 px-0 my-0">
                  <div class="row my-0">
                    <div class="col" style="padding-top:15px">
                      <h6 class="my-0" style="font-weight:bold">{{tokenArray[2].name}}</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span>{{tokenArray[2].asset}}</span>
                    </div>
                  </div>
                </div>
                <div class="col-5 px-0" style="padding-top:5px">
                  <p class="fw-300 text-left my-0 py-0" style="font-size:2.25rem">{{tokenArray[2].bal | number : '1.1-2'}}</p>
                  <p class="text-muted my-0 py-0">$USD {{ (tokenArray[2].bal * priceArray[2] * dollarArray[0]) | number : '1.1-2'}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col text-center">
                  <button
                    class="btn btn-outline btn-warning btn-md"
                    id="wallet-btn"
                    (click)="forgetAddress()">FORGET WALLET</button>
                </div>
              </div>

          </div>

            <div [hidden]="walletBool">
              <div style="padding-top:20px"></div>
              <div class="row text-center px-20">
                <div class="col">
                  <a class="nav-link"  href="https://www.binance.org/en/create" target="_blank">
                    <button _ngcontent-c1="" class="btn btn-primary btn-outline btn-block" id="btn-create" type="submit">CREATE WALLET</button>
                  </a>
                </div>
              </div>
              <div class="row text-center px-20">
                <div class="col">
                  <a  class="nav-link" id="wallet-link" [routerLink]="['profile']">
                    <button class="btn btn-primary btn-block" id="wallet-btn">CONNECT WALLET</button>
                  </a>
                </div>
              </div>
            </div>

          </div>
          <div class="" [hidden]="wallet">
            <p class="text-left px-10 py-10 my-10">SELECT STAKE</p>

            <div class="row mx-0 py-0"
            [ngStyle]="{'background-color':stake === 'BTC' ? '#E7F9FF' : '#FFFFFF' }"
             (click)="stakeBtc()">
              <div class="col-4">
                <img class="logo-default under" src="assets/img/{{tokenArray[0].asset}}.svg"  width="auto" height="50px" alt="logo">
                <img class="logo-default over" src="assets/img/{{tokenArray[1].asset}}.svg"  width="auto" height="50px" alt="logo">
              </div>
              <div class="col-4 my-0 px-0">
                <div class="row my-0 px-0">
                  <div class="col" style="padding-top:15px">
                    <h6 class="my-0" style="font-weight:bold"><span>{{stakeArray[0].asset}}</span> : <span></span><span>{{stakeArray[1].asset}}</span></h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6 class="my-0"><span>{{stakeArray[1].atom}}</span> : <span></span><span>{{stakeArray[1].bal}}</span></h6>
                  </div>
                </div>
              </div>
              <div class="col-4 px-0" style="padding-top:5px">
                <br>
                <p class="text-muted my-0 py-0">$USD {{ ((stakeArray[1].atom * dollarArray[0]) + (stakeArray[1].bal * priceArray[1] * dollarArray[0])) | number : '1.1-2'}}</p>
                <br>
              </div>
            </div>

            <div class="row mx-0 py-0"
            [ngStyle]="{'background-color':stake === 'ETH' ? '#E7F9FF' : '#FFFFFF' }"
             (click)="stakeEth()">
              <div class="col-4">
                <img class="logo-default under" src="assets/img/{{tokenArray[0].asset}}.svg"  width="auto" height="50px" alt="logo">
                <img class="logo-default over" src="assets/img/{{tokenArray[2].asset}}.svg"  width="auto" height="50px" alt="logo">
              </div>
              <div class="col-4 my-0 px-0">
                <div class="row my-0 px-0">
                  <div class="col" style="padding-top:15px">
                    <h6 class="my-0" style="font-weight:bold"><span>{{stakeArray[0].asset}}</span> : <span></span><span>{{stakeArray[2].asset}}</span></h6>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <h6 class="my-0"><span>{{stakeArray[2].atom}}</span> : <span></span><span>{{stakeArray[2].bal}}</span></h6>
                  </div>
                </div>
              </div>
              <div class="col-4 px-0" style="padding-top:5px">
                <br>
                <p class="text-muted my-0 py-0">$USD {{ ((stakeArray[2].atom * dollarArray[0]) + (stakeArray[2].bal * priceArray[2] * dollarArray[0])) | number : '1.1-2'}}</p>
                <br>
              </div>
            </div>
          </div>

        <div style="padding-top:20px"></div>

        </div>

      </div>

      <div class="col-9 px-0 mx-0">
        <div class="bg-white">
          <div style="padding-top:20px"></div>
          <div class="row px-0 mx-0">
            <div class="col px-0">
              <h5 style="font-weight:bold"><span (click)="swapSelect()"
              [ngStyle]="{'color':swap ? '#33ccff' : '#323c47' }" class="mx-2 fw-300" style="font-weight:bold"
              >SWAP</span>
              <span (click)="swapSelect()"
              [ngStyle]="{'color':swap ? '#323c47' : '#33ccff' }" class="mx-2 fw-300" style="font-weight:bold"
              >POOLS</span></h5>
              <hr class="py-0 my-0">
            </div>
          </div>

          <div [hidden]="!swap">
            <div [hidden]="stakeBool">

            <div class="row mb-20" [hidden]="submitted">
              <div class="col-8 px-0">
                <div style="padding-top:20px"></div>
                <div class="row">
                  <div class="col-1">

                  </div>
                  <div class="col-5">
                    <button *ngIf="boolSwap" class="btn btn-primary btn-lg btn-outline btn-block" (click)="swapBoolSend()" id="wallet-btn">SWAP</button>
                    <button *ngIf="boolSend" class="btn btn-secondary btn-lg btn-outline btn-block" (click)="swapBoolSend()" id="wallet-btn">SWAP</button>
                  </div>
                  <div class="col-5">
                    <button *ngIf="boolSwap" class="btn btn-secondary btn-lg btn-outline btn-block" (click)="swapBoolSend()" id="wallet-btn">SWAP & SEND</button>
                    <button *ngIf="boolSend" class="btn btn-primary btn-lg btn-outline btn-block" (click)="swapBoolSend()" id="wallet-btn">SWAP & SEND</button>
                  </div>
                  <div class="col-1">

                  </div>
                  <hr>
                </div>

                <div class="row mx-15" *ngIf="boolSend">
                  <div class="col">
                    <div class="form-group">
                      <label for="exampleInputAddrDest">Destination Address</label>
                      <input type="addrDest" class="form-control" id="exampleInputAddrDest" aria-describedby="addrDestHelp" placeholder="Enter destination address">
                      <small id="addrDest" class="form-text text-muted">Enter destination address</small>
                    </div>
                  </div>
                </div>


                <div style="padding-top:20px"></div>

                <div class="row mx-10" style="margin-left:10px">
                  <div class="col mx-10" style="margin-left:10px margin-right:0px padding-right:0px">
                    <p>You are swapping</p>
                    <div class="container px-0">
                      <div class="shadow bg-grey rounded border">
                        <div class="row py-5 my-0 mx-0 align-middle">
                          <div class="col-2 text-center mx-5 px-0 align-middle" style="margin-left:10px">
                            <img class="logo-default align-middle" src="assets/img/{{asset}}.svg"  width="auto" height="40px" alt="logo">
                          </div>
                          <div class="col text-left px-0 py-0 my-0" style="margin-right:5px">

                            <form (ngSubmit)="setAmtSwap()" #walletForm="ngForm">
                              <div class="form-group">
                                <label style="font-size:1rem" >{{asset}}</label>
                                <input type="number" class="form-control" id="amtSwapInput"
                                required
                                [(ngModel)]="amtSwap" name="amtSwap"
                                #phrase="ngModel" placeholder="Enter amount">
                                <small id="keyHelp" class="form-text text-muted">Enter amount to send</small>
                              </div>
                            </form>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="row text-center py-10 mx-0">
                    <div class="col mx-0 px-5">
                      <button class="btn btn-secondary btn-outline btn-sm mx-0 px-5 btn-block" (click)="set25(baseAsset)" type="button" name="button">25%</button>
                    </div>
                    <div class="col mx-0 px-5">
                      <button class="btn btn-secondary btn-outline btn-sm mx-0 px-5 btn-block" (click)="set50(baseAsset)" type="button" name="button">50%</button>
                    </div>
                    <div class="col mx-0 px-5">
                      <button class="btn btn-secondary btn-outline btn-sm mx-0 px-5 btn-block" (click)="set75(baseAsset)" type="button" name="button">75%</button>
                    </div>
                    <div class="col mx-0 px-5">
                      <button class="btn btn-secondary btn-outline btn-sm mx-0 px-5 btn-block" (click)="set100(baseAsset)" type="button" name="button">ALL</button>
                    </div>

                  </div>
                </div>
                <div class="col">
                  <p>You will receive</p>
                  <div class="container">
                    <div class="shadow bg-grey rounded border">
                      <div class="row py-5 my-0 mx-0 align-middle">
                        <div class="col-2 text-center mx-5 px-0 align-middle" style="margin-left:10px">
                          <img class="logo-default align-middle" src="assets/img/{{outputAsset}}.svg"  width="auto" height="40px" alt="logo">
                        </div>
                        <div class="col text-left px-0 py-0 my-0" style="margin-right:5px">
                          <label class="my-0 py-0" for="">{{outputAsset}}</label>
                          <p class="fw-300 text-left my-0 py-0" style="font-size:2.25rem">{{getOutput() | number : '1.2-4'}}</p>
                          <hr class="my-0 py-0">
                          <p class="text-muted my-0 py-0">$USD {{outputPrice | number : '1.2-2'}}</p>
                          <p class="text-muted my-0 py-0">Slip: {{outputSlip | percent}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="row text-center">
                <div class="col">
                  <button class="btn btn-primary btn-lg" (click)="swapAsset()" id="wallet-btn">SWAP</button>
                </div>

              </div>

              <br>
            </div>

            <div class="col-4 border-left" style="padding-left:0">
              <p class="text-left px-10 py-10 my-10">SELECT TOKEN TO RECEIVE</p>

              <div class="row mx-0 py-0"
              [ngStyle]="{'background-color':outputAsset === 'ATOM' ? '#E7F9FF' : '#FFFFFF' }"
               (click)="setAtm()">
                <div class="col-3">
                  <img class="logo-default" src="assets/img/ATOM.svg"  width="auto" height="80px" alt="logo">
                </div>
                <div class="col-6 my-0">
                  <div class="row my-0">
                    <div class="col" style="padding-top:15px">
                      <h6 class="my-0">Atom</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span>ATOM</span>
                    </div>
                  </div>
                </div>
                <div class="col-3" style="padding-top:5px">
                  <!-- <p class="fw-100 text-left my-0 py-0 text-muted" style="font-size:1rem">{{tokenArray[baseAsset] * priceArray[pairAsset]}} ATOM</p> -->
                </div>
              </div>

              <div class="row mx-0 py-0" [ngStyle]="{'background-color':outputAsset === 'BTC' ? '#E7F9FF' : '#FFFFFF' }"
               (click)="setBtc()">
                <div class="col-3">
                  <img class="logo-default" src="assets/img/BTC.svg"  width="auto" height="80px" alt="logo">
                </div>
                <div class="col-6 my-0">
                  <div class="row my-0">
                    <div class="col" style="padding-top:15px">
                      <h6 class="my-0">Bitcoin </h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span>BTC </span>
                    </div>
                  </div>
                </div>
                <div class="col-3" style="padding-top:5px">
                  <p class="fw-100 text-left my-0 py-0 text-muted" style="font-size:1rem"> </p>
                </div>
              </div>
              <div class="row mx-0 py-0" [ngStyle]="{'background-color':outputAsset === 'ETH' ? '#E7F9FF' : '#FFFFFF' }"
               (click)="setEth()">
                <div class="col-3">
                  <img class="logo-default" src="assets/img/ETH.svg"  width="auto" height="80px" alt="logo">
                </div>
                <div class="col-6 my-0">
                  <div class="row my-0">
                    <div class="col" style="padding-top:15px">
                      <h6 class="my-0">Ethereum</h6>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span>ETH</span>
                    </div>
                  </div>
                </div>
                <div class="col-3" style="padding-top:5px">
                  <p class="fw-100 text-left my-0 py-0 text-muted" style="font-size:1rem"> </p>
                </div>
              </div>

            </div>

          </div>

          <div class="row mb-20" [hidden]="!submitted">
            <div class="col-8" style="padding-top:40px">
              <div class="row text-center">
                <div class="col">
                  <img class="logo-default" src="assets/img/confirmation.png"  width="auto" height="80px" alt="logo">
                </div>
              </div>
              <div class="row text-center mx-20">
                <div class="col">
                  <br>
                  <h6>Total Swapped</h6>
                  <span><p class="fw-300 my-0 py-0" style="font-size:2.25rem">{{output | number : '1.2-2' }}</p></span><span>{{outputAsset}}</span>
                  <br>
                </div>

              </div>

              <div class="row text-center py-20" style="">
                <div class="col">
                  <button class="btn btn-primary btn-outline btn-lg" (click)="swapAsset()" id="wallet-btn">SWAP AGAIN</button>

                </div>

              </div>

            </div>
            <div class="col-4 border-left" style="padding-left:0">

            </div>
            </div>

          </div>
        </div>
          <div [hidden]="!stakeBool">
            <div [hidden]="staked">
              <div class="row">
                <div class="col mx-15">
                  <h5>STAKE</h5>
                  <div class="row mx-0 py-0">
                    <div class="col-2">
                      <img class="logo-default under" src="assets/img/{{tokenArray[baseAsset].asset}}.svg"  width="auto" height="50px" alt="logo">
                      <img class="logo-default over" src="assets/img/{{tokenArray[pairAsset].asset}}.svg"  width="auto" height="50px" alt="logo">
                    </div>
                    <div class="col-2 my-0 px-0">
                      <div class="row my-0 px-0">
                        <div class="col" style="padding-top:15px">
                          <h6 class="my-0" style="font-weight:bold"><span>{{stakeArray[pairAsset].asset}}</span> : <span></span><span>{{stakeArray[pairAsset].asset}}</span></h6>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <h6 class="my-0"><span>{{stakeArray[pairAsset].atom}}</span> : <span></span><span>{{stakeArray[pairAsset].bal}}</span></h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-2 px-0" style="padding-top:5px">
                      <p class="text-muted my-0 py-0">Value</p>
                      <p class="my-0 py-0">$USD {{ ((stakeArray[pairAsset].atom * dollarArray[0]) + (stakeArray[pairAsset].bal * priceArray[1] * dollarArray[0])) | number : '1.1-2'}}</p>
                    </div>
                    <div class="col-2 px-0" style="padding-top:5px">
                      <p class="text-muted my-0 py-0">Fees</p>
                      <p class="my-0 py-0">$USD 45.00</p>
                    </div>
                    <div class="col-2 px-0" style="padding-top:5px">
                      <p class="text-muted my-0 py-0">Pool Share</p>
                      <p class="my-0 py-0">{{ ((poolArray[pairAsset].atom - stakeArray[pairAsset].atom)/(poolArray[pairAsset].atom)) | percent}}</p>
                    </div>
                    <div class="col-2 px-0" style="padding-top:5px">
                      <p class="text-muted my-0 py-0">Annual ROI</p>
                      <p class="my-0 py-0">34%</p>
                    </div>
                  </div>
                  <br>
                </div>
              </div>
              <div class="row">

              <div class="col mx-10" style="margin-left:10px margin-right:0px padding-right:0px">
                <p>Stake {{stakeArray[baseAsset].name}}</p>
                <div class="container px-0">
                  <div class="shadow bg-grey rounded border">
                    <div class="row py-5 my-0 mx-0 align-middle">
                      <div class="col-2 text-center mx-5 px-0 align-middle" style="margin-left:10px">
                        <img class="logo-default align-middle" src="assets/img/{{stakeArray[baseAsset].asset}}.svg"  width="auto" height="40px" alt="logo">
                      </div>
                      <div class="col text-left px-0 py-0 my-0" style="margin-right:5px">

                        <form (ngSubmit)="setAmtSwap()" #walletForm="ngForm">
                          <div class="form-group">
                            <label style="font-size:1rem" >{{stakeArray[baseAsset].asset}}</label>
                            <input type="number" class="form-control" id="amtSwapInput"
                            required
                            [(ngModel)]="amtSwap" name="amtSwap"
                            #phrase="ngModel" placeholder="Enter amount">
                            <small id="keyHelp" class="form-text text-muted">Enter amount to stake</small>
                          </div>
                        </form>
                    </div>

                  </div>
                </div>
              </div>
              <div class="row text-center py-10 mx-0">
                <div class="col mx-0 px-5">
                  <button class="btn btn-secondary btn-outline btn-sm mx-0 px-5 btn-block" (click)="set25(baseAsset)" type="button" name="button">25%</button>
                </div>
                <div class="col mx-0 px-5">
                  <button class="btn btn-secondary btn-outline btn-sm mx-0 px-5 btn-block" (click)="set50(baseAsset)" type="button" name="button">50%</button>
                </div>
                <div class="col mx-0 px-5">
                  <button class="btn btn-secondary btn-outline btn-sm mx-0 px-5 btn-block" (click)="set75(baseAsset)" type="button" name="button">75%</button>
                </div>
                <div class="col mx-0 px-5">
                  <button class="btn btn-secondary btn-outline btn-sm mx-0 px-5 btn-block" (click)="set100(baseAsset)" type="button" name="button">ALL</button>
                </div>

              </div>
            </div>

            <div class="col">
              <div class="col mx-10" style="margin-left:10px margin-right:0px padding-right:0px">
                <p>Stake {{stakeArray[pairAsset].name}}</p>
                <div class="container px-0">
                  <div class="shadow bg-grey rounded border">
                    <div class="row py-5 my-0 mx-0 align-middle">
                      <div class="col-2 text-center mx-5 px-0 align-middle" style="margin-left:10px">
                        <img class="logo-default align-middle" src="assets/img/{{stakeArray[pairAsset].asset}}.svg"  width="auto" height="40px" alt="logo">
                      </div>
                      <div class="col text-left px-0 py-0 my-0" style="margin-right:5px">

                        <form (ngSubmit)="setAmtSwap()" #walletForm="ngForm">
                          <div class="form-group">
                            <label style="font-size:1rem" >{{stakeArray[pairAsset].asset}}</label>
                            <input type="number" class="form-control" id="amtStakeInput"
                            required
                            [(ngModel)]="amtStake" name="amtStake"
                            #phrase="ngModel" placeholder="Enter amount">
                            <small id="keyHelp" class="form-text text-muted">Enter amount to stake</small>
                          </div>
                        </form>
                    </div>

                  </div>
                </div>
              </div>
              <div class="row text-center py-10 mx-0">
                <div class="col mx-0 px-5">
                  <button class="btn btn-secondary btn-outline btn-sm mx-0 px-5 btn-block" (click)="set25(baseAsset)" type="button" name="button">25%</button>
                </div>
                <div class="col mx-0 px-5">
                  <button class="btn btn-secondary btn-outline btn-sm mx-0 px-5 btn-block" (click)="set50(baseAsset)" type="button" name="button">50%</button>
                </div>
                <div class="col mx-0 px-5">
                  <button class="btn btn-secondary btn-outline btn-sm mx-0 px-5 btn-block" (click)="set75(baseAsset)" type="button" name="button">75%</button>
                </div>
                <div class="col mx-0 px-5">
                  <button class="btn btn-secondary btn-outline btn-sm mx-0 px-5 btn-block" (click)="set100(baseAsset)" type="button" name="button">ALL</button>
                </div>

              </div>
            </div>
            </div>
            </div>
            <div class="row">
              <div class="col">
                <br>
                <div class="row text-center">
                  <div class="col">
                    <button class="btn btn-primary btn-lg" (click)="stakeAsset()" id="wallet-btn">STAKE</button>
                    <hr>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col mx-15">
                <h5>WITHDRAW</h5>
                <p>Use this to withdraw all of your stake in this pool, plus any earned fees.</p>
                <br>
                <div class="row text-center">
                  <div class="col">
                    <button class="btn btn-danger btn-outline btn-lg" (click)="onSubmit()" id="wallet-btn">WITHDRAW ALL</button>
                  </div>
                </div>
                <br>
              </div>
            </div>

            </div>

            <div [hidden]="!staked">
              <div class="row mb-20">
                <div class="col-8" style="padding-top:40px">
                  <div class="row text-center">
                    <div class="col">
                      <img class="logo-default" src="assets/img/confirmation.png"  width="auto" height="80px" alt="logo">
                    </div>
                  </div>
                  <div class="row text-center mx-20">
                    <div class="col">
                      <br>
                      <h6>Total Staked</h6>
                      <span><p class="fw-300 my-0 py-0" style="font-size:2.25rem">{{amtSwap | number : '1.2-2' }}</p></span><span>{{tokenArray[baseAsset].asset}}</span>
                      <span><p class="fw-300 my-0 py-0" style="font-size:2.25rem">{{amtStake | number : '1.2-2' }}</p></span><span>{{tokenArray[pairAsset].asset}}</span>
                      <br>
                    </div>

                  </div>

                  <div class="row text-center py-20" style="">
                    <div class="col">
                      <button class="btn btn-primary btn-outline btn-lg" (click)="stakeAsset()" id="wallet-btn">STAKE AGAIN</button>

                    </div>

                  </div>

                </div>
                <div class="col-4 border-left" style="padding-left:0">

                </div>
                </div>
            </div>

          </div>

      </div>

      <div [hidden]="stakeBool">
      <div [hidden]="swap">
        <!-- <div class="row">
          <div class="col-4 mx-10 bg-white">
            <img class="logo-default" src="assets/img/{{tokenArray[0].asset}}.svg"  width="auto" height="50px" alt="logo">
          </div>
          <div class="col-4 mx-10 bg-white">
            <img class="logo-default" src="assets/img/{{tokenArray[1].asset}}.svg"  width="auto" height="50px" alt="logo">
          </div>
          <div class="col-4 mx-10 bg-whit">
            <img class="logo-default" src="assets/img/{{tokenArray[2].asset}}.svg"  width="auto" height="50px" alt="logo">
          </div>

        </div> -->

        <div class="row mx-0 py-0 my-10 bg-white">
          <div class="col-1">
            <img class="logo-default under" src="assets/img/{{tokenArray[0].asset}}.svg"  width="auto" height="50px" alt="logo">
            <img class="logo-default over" src="assets/img/{{tokenArray[1].asset}}.svg"  width="auto" height="50px" alt="logo">
            <br><br><br>
          </div>
          <div class="col-2 my-0 px-0">
            <div class="row my-0 px-0">
              <div class="col" style="padding-top:15px">
                <p class="my-0" style="font-weight:bold"><span>{{poolArray[0].asset}}</span> : <span></span><span>{{poolArray[1].asset}}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="my-0" style="font-weight:400"><span>{{poolArray[1].atom}}</span> : <span></span><span>{{poolArray[1].bal}}</span></p>
              </div>
            </div>
          </div>
          <div class="col-1 my-0 px-0">
            <div class="row my-0 px-0">
              <div class="col" style="padding-top:15px">
                <p class="my-0">DEPTH</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="my-0 py-0" style="font-weight:400">${{ ((poolArray[1].atom * dollarArray[0]) + (poolArray[1].bal * priceArray[1] * dollarArray[0])) | number : '1.2'}}</p>
              </div>
            </div>
          </div>
          <div class="col-1 my-0 px-0">
            <div class="row my-0 px-0">
              <div class="col" style="padding-top:15px">
                <p class="my-0">VOLUME</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="my-0 py-0" style="font-weight:400">${{(poolArray[1].volume) | number:'1.2'}}</p>
              </div>
            </div>
          </div>
          <div class="col-1 my-0 px-0">
            <div class="row my-0 px-0">
              <div class="col" style="padding-top:15px">
                <p class="my-0">Pool Price</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="my-0 py-0" style="font-weight:400">${{(poolArray[1].price) | number:'1.2' }}</p>
              </div>
            </div>
          </div>
          <div class="col-1 my-0 px-0">
            <div class="row my-0 px-0">
              <div class="col" style="padding-top:15px">
                <p class="my-0">Ext. Price</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="my-0 py-0" style="font-weight:400">${{(poolArray[1].xprice) | number:'1.2'}}</p>
              </div>
            </div>
          </div>
          <div class="col-1 my-0 px-0">
            <div class="row my-0 px-0">
              <div class="col" style="padding-top:15px">
                <p class="my-0">Potential</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="my-0 py-0" style="font-weight:400">{{(((poolArray[1].price)-(poolArray[1].xprice))/(poolArray[1].xprice)) | percent}}</p>
              </div>
            </div>
          </div>
          <div class="col-2 my-0 px-10 text-center">
            <button type="button" name="button" class="btn btn-success btn-block btn-outline my-5 mx-5" (click)="clickBuyBTC()">BUY</button>
            <button type="button" name="button" class="btn btn-danger btn-block btn-outline my-5 mx-5" (click)="clickSellBTC()">SELL</button>
          </div>
          <div class="col-2 my-0 px-10 text-center">
            <button type="button" name="button" class="btn btn-primary btn-block btn-outline my-25 mx-5" (click)="stakeBtc()">STAKE</button>
          </div>
        </div>

        <div class="row mx-0 py-0 my-10 bg-white">
          <div class="col-1">
            <img class="logo-default under" src="assets/img/{{tokenArray[0].asset}}.svg"  width="auto" height="50px" alt="logo">
            <img class="logo-default over" src="assets/img/{{tokenArray[2].asset}}.svg"  width="auto" height="50px" alt="logo">
            <br><br><br>
          </div>
          <div class="col-2 my-0 px-0">
            <div class="row my-0 px-0">
              <div class="col" style="padding-top:15px">
                <p class="my-0" style="font-weight:bold"><span>{{poolArray[0].asset}}</span> : <span></span><span>{{poolArray[2].asset}}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="my-0" style="font-weight:400"><span>{{poolArray[2].atom}}</span> : <span></span><span>{{poolArray[2].bal}}</span></p>
              </div>
            </div>
          </div>
          <div class="col-1 my-0 px-0">
            <div class="row my-0 px-0">
              <div class="col" style="padding-top:15px">
                <p class="my-0">DEPTH</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="my-0 py-0" style="font-weight:400">${{ ((poolArray[2].atom * dollarArray[0]) + (poolArray[2].bal * priceArray[2] * dollarArray[0])) | number : '1.2'}}</p>
              </div>
            </div>
          </div>
          <div class="col-1 my-0 px-0">
            <div class="row my-0 px-0">
              <div class="col" style="padding-top:15px">
                <p class="my-0">VOLUME</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="my-0 py-0" style="font-weight:400">${{(poolArray[2].volume) | number:'1.2'}}</p>
              </div>
            </div>
          </div>
          <div class="col-1 my-0 px-0">
            <div class="row my-0 px-0">
              <div class="col" style="padding-top:15px">
                <p class="my-0">Pool Price</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="my-0 py-0" style="font-weight:400">${{(poolArray[2].price) | number:'1.2' }}</p>
              </div>
            </div>
          </div>
          <div class="col-1 my-0 px-0">
            <div class="row my-0 px-0">
              <div class="col" style="padding-top:15px">
                <p class="my-0">Ext. Price</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="my-0 py-0" style="font-weight:400">${{(poolArray[2].xprice) | number:'1.2'}}</p>
              </div>
            </div>
          </div>
          <div class="col-1 my-0 px-0">
            <div class="row my-0 px-0">
              <div class="col" style="padding-top:15px">
                <p class="my-0">Potential</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p class="my-0 py-0" style="font-weight:400">{{(((poolArray[2].price)-(poolArray[2].xprice))/(poolArray[2].xprice)) | percent}}</p>
              </div>
            </div>
          </div>
          <div class="col-2 my-0 px-10 text-center">
            <button type="button" name="button" class="btn btn-success btn-block btn-outline my-5 mx-5" (click)="clickBuyETH()">BUY</button>
            <button type="button" name="button" class="btn btn-danger btn-block btn-outline my-5 mx-5" (click)="clickSellETH()">SELL</button>
          </div>
          <div class="col-2 my-0 px-10 text-center">
            <button type="button" name="button" class="btn btn-primary btn-block btn-outline my-25 mx-5" (click)="stakeEth()">STAKE</button>
          </div>
        </div>

        <div class="row">
          <div class="col-2 my-0 px-10 text-left">
            <button type="button" name="button" class="btn btn-primary my-25 mx-5" (click)="addPool()">ADD POOL</button>
          </div>
        </div>

      </div>

    </div>
    </div>
  </div>





</section>


</main>
<!-- END Main container -->
